<div class="container-fluid margem-inferior" ng-init="vm.init();">
    <div class="row baseSaudacao">
        <div class="text-center sem-margem">
            <span class="spSaudacao text-uppercase">Restaurants</span>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="form-group col-md-4">
            <label>Name</label>
            <input type="text" class="form-control txt" ng-model="vm.query" placeholder="Put a name to search">
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-block" style="margin-top: 21px" ng-click="vm.search();">Search</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success btn-block"  style="margin-top: 21px" ng-click="vm.new();">New</button>
        </div>
    </div>
    <div class="row" ng-show="vm.restaurants.length > 0">
        <div class="col-md-12">
            <table class="table table-bordered table-hover tb">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Restaurant</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="restaurant in vm.restaurants">
                        <td>{{::restaurant.idRestaurant}}</td>
                        <td>{{::restaurant.name}}</td>
                        <td ng-click="vm.edit(restaurant.idRestaurant);">Edit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
