<div class="container-fluid margem-inferior" ng-init="vm.init();">
    <div class="row baseSaudacao">
        <div class="text-center sem-margem">
            <span class="spSaudacao text-uppercase">Dishes</span>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="form-group col-md-12">
                 <ol class="breadcrumb">
                    <li><a ui-sref="{{URLBASE}}/home">Home</a></li>
                    <li class="active">Dish</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Name</label>
                <input type="text" class="form-control txt" ng-model="vm.query" placeholder="Put a name to search">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-block" style="margin-top: 21px" ng-click="vm.search();">Search</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success btn-block"  style="margin-top: 21px" ng-click="vm.new();">New</button>
            </div>
        </div>
        <div class="row" ng-show="vm.dishes.length > 0">
            <div class="col-md-12">
                <table class="table table-bordered table-hover tb">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Restaurant</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dish in vm.dishes">
                            <td>{{::dish.idDish}}</td>
                            <td>{{::dish.restaurant.name}}</td>
                            <td>{{::dish.name}}</td>
                            <td>{{::dish.price}}</td>
                            <td>
                                    <span title="Edit dish" class="glyphicon glyphicon-pencil" ng-click="vm.edit(dish.idDish);"></span> 
                                    <span title="Delete dish" class="glyphicon glyphicon-trash" ng-click="vm.delete(dish.idDish);"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
    